npx hardhat verify --network sepolia 0x00 "Hello World"

npx hardhat verify \
--contract contracts/HelloSolidity.sol:HelloSolidity \
--network sepolia 0xc9Cabfd60b5Bb67f5E3F208e351199A8DC5019de hello!

npx hardhat verify \
--contract contracts/AngelNFT.sol:AngelNFT \
--network goerli 0xE310dd93549296Fc1DD8ad66D8790F49D7Aa8dF4
